[role="main"] {
	background: #FFFFFF;

	& > div {
		margin-top: 30px;
		background: #ffffff;
	}
}

[role="left"] {
	background: #fafafa;
	border-right: 3px solid #f1f1f1;
	padding: 60px 10px 20px;

	.nav-vertical {
		a {
			color: #6f6f6f;
			.border-radius(2px);
		}

		a:hover {
			background: #135c8a;
			color: white;
		}
	}

	img.brand {
		max-width: none;
		width: 160px;
	}
}