<!DOCTYPE html>
<html lang="en">
  <head>
    {namespace s=Famelo\Scaff\ViewHelpers}
    {namespace a=Famelo\Satisfy\ViewHelpers}
    {namespace n=Famelo\Navigation\ViewHelpers}
    {namespace e=TYPO3\Expose\ViewHelpers}
    <meta charset="utf-8">
    <title>Kundenzufriedenheit</title>
    <f:base />
    <link rel="stylesheet" href="{f:uri.resource(path:'Styles/Document.css', package: 'Famelo.Satisfy')}">
  </head>
  <body>
    <div class="document">
      <f:render section="content" />
    </div>
  </body>
</html>