<!DOCTYPE html>
<html lang="en">
  <head>
    {namespace s=Famelo\Scaff\ViewHelpers}
    {namespace a=Famelo\ADU\ViewHelpers}
    {namespace n=Famelo\Navigation\ViewHelpers}
    {namespace e=TYPO3\Expose\ViewHelpers}
    {namespace c=Community\CacheExtensions\ViewHelpers}
    <meta charset="utf-8">
    <title>ADU Kundenzufriedenheit</title>
    <f:base />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" href="{f:uri.resource(path: 'img/apple-touch-icon-ipad.png', package: 'Famelo.ADU')}" />
    <link href="{f:uri.resource(path: 'img/apple-touch-icon-ipad.png', package: 'Famelo.ADU')}" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="{f:uri.resource(path: 'img/apple-touch-icon-iphone4.png', package: 'Famelo.ADU')}" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="{f:uri.resource(path: 'img/apple-touch-icon-ipad3.png', package: 'Famelo.ADU')}" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link rel="icon" href="{f:uri.resource(path: 'img/favicon.ico', package: 'Famelo.ADU')}" type="image/x-icon">
    <link rel="shortcut icon" href="{f:uri.resource(path: 'img/favicon.ico', package: 'Famelo.ADU')}" type="image/x-icon">

    <link rel="stylesheet" href="{f:uri.resource(path:'components/chosen/chosen/chosen.css', package: 'TYPO3.Expose')}">
    <link rel="stylesheet" href="{f:uri.resource(path:'Styles/Main.css', package: 'TYPO3.Expose')}">
    <link rel="stylesheet" href="{f:uri.resource(path:'Styles/main.css', package: 'Famelo.ADU')}">

    <script src="{f:uri.resource(path:'js/jquery.1.7.1.min.js', package: 'TYPO3.Expose')}"></script>
    <script src="{f:uri.resource(path:'Scripts/Header.min.js', package: 'Famelo.ADU')}"></script>
  </head>

  <body>
    <a:user>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="btn btn-off-canvas hide pull-left" data-canvas-toggle="left">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="user-menu" data-toggle="dropdown">
              {user.party.name}
            </a>
            <ul class="dropdown-menu">
              <li>
                <f:link.action action="changePassword" controller="login" package="Famelo.ADU" id="changePassword">Passwort ändern</f:link.action>
              </li>
              <li>
                <f:link.action action="logout" controller="login" package="Famelo.ADU" id="logout">Abmelden</f:link.action>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="off-canvas">
      <div role="left">
        <div class="left-inner">
          <img src="{f:uri.resource(path: 'img/logo.png', package: 'Famelo.ADU')}" class="brand"/>

          <ul class="nav nav-vertical">
            <c:cache object="{user}" useRequest="0"></c:cache>
            <n:navigation as="items">
            <f:for each="{items}" as="item">
              <li>
                  <n:action actionConfiguration="{item}">{item.label}</n:action>
                  <f:if condition="{item.children}">
                    <ul>
                    <f:for each="{item.children}" as="child">
                      <li>
                          <n:action actionConfiguration="{child}">{child.label}</n:action>
                      </li>
                    </f:for>
                    </ul>
                  </f:if>
              </li>
            </f:for>
            </n:navigation>
          </ul>

          <a:notification>
          <ul class="nav nav-vertical">
            <f:for each="{notifications}" as="notification">
            <li>
              <n:action actionConfiguration="{notification.action}" class="{notification.class}">
                {notification.text}
              </n:action>
            </li>
            </f:for>
          </ul>
          </a:notification>
        </div>
      </div>

      <div role="main">
        <div class="main-inner">
          <f:render section="content" />
        </div>
      </div>
    </div>
    </a:user>

      <script src="{f:uri.resource(path:'Scripts/Main.min.js', package: 'TYPO3.Expose')}"></script>
      <script src="{f:uri.resource(path:'components/chosen/chosen/chosen.jquery.min.js', package: 'TYPO3.Expose')}"></script>
      <script src="{f:uri.resource(path:'Scripts/Footer.min.js', package: 'Famelo.ADU')}"></script>
  </body>
</html>