<!DOCTYPE html>
<html lang="en">
  <head>
    {namespace s=Famelo\Scaff\ViewHelpers}
    {namespace a=Famelo\ADU\ViewHelpers}
    {namespace n=Famelo\Navigation\ViewHelpers}
    {namespace e=TYPO3\Expose\ViewHelpers}
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <f:base />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <e:resource />
        <script src="{f:uri.resource(path:'Libraries/jquery-pjax/jquery.pjax.js', package: 'Community.Pjax')}"></script>
    <script type="text/javascript"><![CDATA[

    // (function ($) {
    //   $(document).ready(function () {
    //     var base = $('base').attr('href');
    //     $(document).delegate('a', 'click', function (e) {
    //       var link = $(this);
    //       if (typeof(link.attr('href')) == "string"){
    //         if (link.attr('href').match(/[a-z]*:\/\//)) {
    //           try {
    //             $.pjax({
    //               url: link.attr('href'),
    //               container: '[role="main"]',
    //               fragment:'[role="main"]',
    //               timeout: 500
    //             });
    //             e.preventDefault();
    //           } catch(e) {}
    //         }
    //       }
    //     });
    //   });
    // })(jQuery);
    ]]></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="btn btn-off-canvas hide pull-left" data-canvas-toggle="left">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a:user>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="user-menu" data-toggle="dropdown">
              {user.party.name}
              <a:gravatar email="{user.party.email}" size="40" class="img-rounded" />
            </a>
            <ul class="dropdown-menu">
              <li>
                <f:link.action action="logout" controller="login" id="logout">Abmelden</f:link.action>
              </li>
            </ul>
          </li>
        </ul>
        </a:user>
      </div>
    </div>

    <div class="off-canvas">
      <div role="left">
        <img src="{f:uri.resource(path: 'img/logo.png', package: 'Famelo.ADU')}" class="brand"/>

        <ul class="nav nav-vertical">
          <n:navigation as="items">
          <f:for each="{items}" as="item">
            <li>
                <n:action actionConfiguration="{item}">{item.label}</n:action>
                <f:if condition="{item.children}">
                  <ul>
                  <f:for each="{item.children}" as="child">
                    <li>
                        <n:action actionConfiguration="{child}">{child.label}</n:action>
                    </li>
                  </f:for>
                  </ul>
                </f:if>
            </li>
          </f:for>
          </n:navigation>
        </ul>

        <a:notification>
        <ul class="nav nav-vertical">
          <f:for each="{notifications}" as="notification">
          <li>
            <n:action actionConfiguration="{notification.action}" class="{notification.class}">
              {notification.text}
            </n:action>
          </li>
          </f:for>
        </ul>
        </a:notification>
      </div>

      <div role="main">

        <f:render section="content" />

      </div>
    </div>
  </body>
</html>