<!DOCTYPE html>
<html lang="en">
  <head>
    {namespace a=TYPO3\Asset\ViewHelpers}
    {namespace s=Famelo\Satisfy\ViewHelpers}
    {namespace n=Famelo\Navigation\ViewHelpers}
    {namespace e=TYPO3\Expose\ViewHelpers}
    {namespace c=Community\CacheExtensions\ViewHelpers}
    {namespace feature=Famelo\Features\ViewHelpers}
    <meta charset="utf-8">
    <title>Kundenzufriedenheit</title>
    <f:base />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="apple-touch-icon" href="{f:uri.resource(path: 'img/apple-touch-icon-ipad.png', package: 'Famelo.Satisfy')}" />
    <link href="{f:uri.resource(path: 'img/apple-touch-icon-ipad.png', package: 'Famelo.Satisfy')}" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="{f:uri.resource(path: 'img/apple-touch-icon-iphone4.png', package: 'Famelo.Satisfy')}" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="{f:uri.resource(path: 'img/apple-touch-icon-ipad3.png', package: 'Famelo.Satisfy')}" rel="apple-touch-icon-precomposed" sizes="144x144"> -->
    <f:if condition="{settings.Favicon}">
        <link rel="icon" href="{f:uri.resource(path: settings.Favicon)}" type="image/x-icon">
        <link rel="shortcut icon" href="{f:uri.resource(path: settings.Favicon)}" type="image/x-icon">
    </f:if>

    <link rel="stylesheet" href="{f:uri.resource(path:'components/chosen/chosen/chosen.css', package: 'TYPO3.Expose')}">
    <link rel="stylesheet" href="{a:uri(path:'Styles/Main.scss', output: 'Styles/Main.css', filters: 'compass', package: 'TYPO3.Expose')}">
    <link rel="stylesheet" href="{a:uri(path:'Styles/Main.less', output: 'Styles/Main.css', filters: 'less', package: 'Famelo.Satisfy')}">

    <script src="{f:uri.resource(path:'js/jquery.1.7.1.min.js', package: 'TYPO3.Expose')}"></script>
    <script src="{a:uri(path:'Scripts/Header.js', output: 'Scripts/Header.min.js', package: 'Famelo.Satisfy')}"></script>
  </head>

  <body>
    <s:user as="currentUser">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="user-menu" data-toggle="dropdown">
              {currentUser.party.name}<b class="caret"></b>
            </a>
          <ul class="dropdown-menu" role="menu">
<!--             <li>
              <f:link.action action="changePassword" controller="login" package="Famelo.Satisfy" id="changePassword">Passwort ändern</f:link.action>
            </li> -->
            <li>
              <f:link.action action="logout" controller="login" package="Famelo.Satisfy" id="logout">Abmelden</f:link.action>
            </li>
          </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="off-canvas">
      <div class="off-canvas-left">
        <div class="left-inner">
          <f:if condition="{settings.Logo}">
            <img src="{settings.Logo}" alt="Logo" width="100%" />
          </f:if>
          <ul class="nav nav-vertical">
            <n:navigation as="items">
              <f:for each="{items}" as="item">
                <li>
                  <n:action actionConfiguration="{item}">{item.label}</n:action>
                  <f:if condition="{item.children}">
                    <ul>
                      <f:for each="{item.children}" as="child">
                        <li>
                            <n:action actionConfiguration="{child}">{child.label}</n:action>
                        </li>
                      </f:for>
                    </ul>
                  </f:if>
                </li>
              </f:for>
            </n:navigation>
          </ul>

          <s:notification>
          <ul class="nav nav-vertical">
            <f:for each="{notifications}" as="notification">
            <li>
              <n:action actionConfiguration="{notification.action}" class="{notification.class}">
                {notification.text}
              </n:action>
            </li>
            </f:for>
          </ul>
          </s:notification>
        </div>
      </div>

      <div class="off-canvas-main">
        <div class="main-inner">
          <f:render section="content" />
        </div>
      </div>
    </div>
    </s:user>

      <script src="{a:uri(path:'Scripts/Main.js', output: 'Scripts/Main.min.js', package: 'TYPO3.Expose')}"></script>
      <script src="{f:uri.resource(path:'components/chosen/chosen/chosen.jquery.min.js', package: 'TYPO3.Expose')}"></script>
      <script src="{a:uri(path:'Scripts/Footer.js', output: 'Scripts/Footer.min.js', package: 'Famelo.Satisfy')}"></script>
  </body>
</html>