<!DOCTYPE html>
<html lang="en">
  <head>
    {namespace s=Famelo\Scaff\ViewHelpers}
    {namespace a=Famelo\ADU\ViewHelpers}
    {namespace n=Famelo\Navigation\ViewHelpers}
    {namespace e=TYPO3\Expose\ViewHelpers}
    <meta charset="utf-8">
    <title>ADU Kundenzufriedenheit</title>
    <f:base />
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" href="{f:uri.resource(path: 'img/AppIcon.pnh', package: 'Famelo.ADU')}" />

    <link rel="stylesheet" href="{f:uri.resource(path:'components/chosen/chosen/chosen.css', package: 'TYPO3.Expose')}">
    <link rel="stylesheet" href="{f:uri.resource(path:'css/main.css', package: 'TYPO3.Expose')}">
    <link rel="stylesheet" href="{f:uri.resource(path:'Styles/main.css', package: 'Famelo.ADU')}">

    <script src="{f:uri.resource(path:'js/jquery.1.7.1.min.js', package: 'TYPO3.Expose')}"></script>
    <script src="{f:uri.resource(path:'Scripts/Header.min.js', package: 'Famelo.ADU')}"></script>
  </head>

  <body>
    <f:render section="content" />
    <script src="{f:uri.resource(path:'JavaScript/Form/jquery.inlinehelper.js', package: 'TYPO3.Expose')}"></script>
    <script src="{f:uri.resource(path:'JavaScript/Form/Form.js', package: 'TYPO3.Expose')}"></script>
    <script src="{f:uri.resource(path:'components/chosen/chosen/chosen.jquery.min.js', package: 'TYPO3.Expose')}"></script>
    <script src="{f:uri.resource(path:'Scripts/Footer.min.js', package: 'Famelo.ADU')}"></script>
  </body>
</html>