@badge-size: 30px;

.badge-green,
.badge-yellow,
.badge-orange,
.badge-red,
.badge-blue,
.badge-purple,
.badge-white {
    .border-radius(@badge-size);
    display: block;
    background: red;
    height: @badge-size;
    width: @badge-size;
    line-height: 10px;
    box-sizing: border-box;
    padding: 10px 7px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
body [class*=" badge-"] a:hover {
    text-decoration: none;
    color: white;
}

.badge-green {
    background: #3fd351;
    border-color: #3fd351;
}
.badge-yellow {
    background: #f2f124;
    border-color: #f2f124;
}
.badge-orange {
    background: #f49320;
    border-color: #f49320;
}
.badge-red {
    background: #dc182d;
    border-color: #dc182d;
}
.badge-purple {
    background: #571f83;
    border-color: #571f83;
}
.badge-blue {
    background: #003683;
    border-color: #003683;
}
.badge-white {
    background: #ffffff;
    border: 1px solid #ddd;
}