{namespace a=Famelo\ADU\ViewHelpers}

<h3>{customer.name}</h3>

<div class="row-fluid">
	<div class="span6">
		<h5>Bewertungen</h5>
		<table class="table table-striped table-condensed table-bordered list-table">
			<tr>
				<th>Datum</th>
				<th>Bewertung</th>
				<th>Kommentar</th>
			</tr>
		<f:for each="{customer.ratings}" as="rating">
			<tr>
				<td>{rating.created -> f:format.date()}</td>
				<td>
					<span class="evaluation badge-{rating.color}"></span>
				</td>
				<td>{rating.comment}</td>
			</tr>
		</f:for>
		</table>
	</div>
	<div class="span6">
		<f:if condition="{customer.ratingForThisWeek.color}">
			<f:then>
				<span class="evaluation badge-{customer.ratingForThisWeek.color}"
					rel="popover"
					data-title="KW{a:calendarWeek(delta: 0)}"
					data-content="
					<p>
						<dl>
							<dt>Kommentar: </dt><dd>{customer.ratingForThisWeek.comment}</dd>
							<dt>Maßnahme: </dt><dd>{customer.ratingForThisWeek.action}</dd>
							<dt>Datum: </dt> <dd>{customer.ratingForThisWeek.date -> f:format.date(format: 'd.m.Y')}</dd>
						</dl>
					</p>"
				>{customer.marker}</span>
			</f:then>
			<f:else>
				<span class="evaluation badge-{customer.ratingForThisWeek.color}">{customer.marker}</span>
			</f:else>
		</f:if>

		<f:if condition="{customer.ratingForLastWeek.color}">
			<f:then>
				<span class="evaluation badge-{customer.ratingForLastWeek.color}"
					rel="popover"
					data-title="KW{a:calendarWeek(delta: '-1')}"
					data-content="
					<p>
						<dl>
							<dt>Kommentar: </dt><dd>{customer.ratingForLastWeek.comment}</dd>
							<dt>Maßnahme: </dt><dd>{customer.ratingForLastWeek.action}</dd>
							<dt>Datum: </dt> <dd>{customer.ratingForLastWeek.date -> f:format.date(format: 'd.m.Y')}</dd>
						</dl>
					</p>"
				>{customer.marker}</span>
			</f:then>
			<f:else>
				<span class="evaluation badge-{customer.ratingForLastWeek.color}">{customer.marker}</span>
			</f:else>
		</f:if>

		<f:if condition="{customer.ratingForTwoWeeksAgo.color}">
			<f:then>
				<span class="evaluation badge-{customer.ratingForTwoWeeksAgo.color}"
					rel="popover"
					data-title="KW{a:calendarWeek(delta: '-2')}"
					data-content="
					<p>
						<dl>
							<dt>Kommentar: </dt><dd>{customer.ratingForTwoWeeksAgo.comment}</dd>
							<dt>Maßnahme: </dt><dd>{customer.ratingForTwoWeeksAgo.action}</dd>
							<dt>Datum: </dt> <dd>{customer.ratingForTwoWeeksAgo.date -> f:format.date(format: 'd.m.Y')}</dd>
						</dl>
					</p>"
				>{customer.marker}</span>
			</f:then>
			<f:else>
				<span class="evaluation badge-{customer.ratingForTwoWeeksAgo.color}">{customer.marker}</span>
			</f:else>
		</f:if>
	</div>
</div>